.activity-detail-container {
	// height: 90vh;
	margin-top: 1rem;
	padding: 0 1rem;
	text-align: left;

	.bin-btn {
		color: red;
		font-size: 30px;
		width: 30px;
		margin: 1rem 0px 2rem 0px;
	}

	.category-icon-detail {
		display: flex;
		align-items: center;
	}

	a {
		letter-spacing: 0.1rem;
		font-weight: bold;
		font-size: 1rem;
		color: #00c28e;
		text-transform: uppercase;
	}

	.detail-controls {
		position: relative;
		// top: 2.5rem;
		height: 3rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.exit-btn {
			// height: 100px;
			// width: 100px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			font-size: 3rem;
			padding-right: 1rem;
			border: none;
			background: transparent;

			&:hover {
				background: transparent;
			}
		}
	}

	label {
		font-weight: bold;
		text-transform: uppercase;
	}

	p {
		margin-top: 0px;
	}

	ul {
		padding-left: 0px;
	}
	.detail-urls {
		// background: red;
		// max-width: 85vw;
		display: flex;
		> a {
			display: inline-block;
			max-width: 300px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
.prepopulated {
	// font-weight: bold;
	letter-spacing: 0.1rem;
	color: #00c28e;
	font-weight: bold;
	margin: 0px 1rem 6px 1rem;
	border-left: 2px solid black;
	text-align: start;
	display: flex;
	justify-content: center;
	text-align: right;
	line-height: 1.5rem;
	font-size: 1rem;
	text-transform: uppercase;
}

.prepopulated.new {
	padding-left: 1rem;
}

.activity-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	.form-item {
		width: 100%;
		padding: 0px 1rem;
	}
	.ant-form-item-control-input {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	// .form-item.date-picker {
	// 	display: flex;
	// 	justify-content: flex-end;
	// 	width: 300px;
	// }

	.item-label {
		text-align: right;
		font-size: 1.5rem;
		letter-spacing: 0.1rem;
		padding-bottom: 0.5rem;
	}

	.entry-header {
		// margin-top: 2rem;
		display: flex;
		padding: 0px 1rem;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		align-items: baseline;

		* {
			margin-bottom: 0px;
		}
	}

	#title_help,
	#category_help,
	#startTime_help,
	#address_help,
	#country_help,
	#details_help {
		// display: flex;
		// justify-content: flex-end;
		font-size: 1rem;
	}

	// .ant-form-item-control-input-content {
	// 	display: flex;
	// 	justify-content: center;
	// 	width: 400px;
	// }

	.radio-group {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.radio-item {
		font-size: 2.2rem;
		width: 80px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		// background: red;
		// margin-right: 0px;
		// margin-left: 6px;
	}

	.form-subBlock {
		margin: 1rem auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		// border-top: 3px solid #00c28e;
		// padding-top: 6px;

		.subheader {
			margin: 1rem 0;
			font-weight: bold;
			letter-spacing: 0.1rem;
			color: #00c28e;

			// margin-bottom: 0px;
			text-align: start;
			display: block;
			font-size: bold;
			text-transform: uppercase;
			display: flex;
			justify-content: flex-end;
		}

		//date picker
		.ant-picker {
			width: 100%;
		}
	}
}

.send-btn-item {
	//= send-btn-item
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 2rem;
	padding: 0.25rem 0.5rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	color: #00c28e;
	border: 4px solid #00c28e;
	margin-bottom: 1rem;
	background: transparent;

	&:hover {
		background: #00c28e;
		border: none;
		color: white;
	}

	&:focus {
		background: #00c28e;
		border: none;
		color: white;
	}
}

.send-btn-item.secondary {
	//= send-btn-item
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	color: #00c28e;
	border: 4px solid #00c28e;
	margin-bottom: 1rem;

	&:hover {
		background: #00c28e;
		border: none;
		color: white;
	}

	&:focus {
		background: #00c28e;
		border: none;
		color: white;
	}
}

.cancel-update-btn {
	margin-left: 1rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 1rem;
	padding: 0.5rem;
}
