.expense-viewer {
	margin-top: 1rem;
	.controls-activity {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.filter-btn {
			overflow: hidden;
			width: 50px;
			height: 50px;
			font-size: 2rem;
			background: transparent;
			// border: 2px solid rgba(0, 0, 0, 0.467);
			border: none;
			padding: 0.5rem;
			margin: 6px;

			&:disabled {
				opacity: 0.2;
			}

			&:hover {
				background-color: #00c28e;
				border-color: #00c28e;
			}
			&:focus {
				background-color: #00c28e;
				border-color: #00c28e;
			}
		}
	}

	.exp-group {
		margin-top: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;

		> * {
			margin: 0.5rem;
		}
	}
	.special-btn {
		padding: 2rem;
		font-size: 2rem;
		font-weight: bold;
		letter-spacing: 0.1rem;
		color: #00c28e;
		background: transparent;
		border: 4px solid #00c28e;
	}

	.expense-grid {
		height: 584px;
		width: 100%;
		border-left: 4px solid red;
		flex: 1;
	}

	.header-text {
		text-transform: uppercase;
		font-weight: bold;
		color: #00c28e;
	}

	.left-align {
		display: flex;
	}

	.right-align {
		text-align: right;
	}
	.scale-up {
		font-size: 1rem;
	}
}

//form

.expense-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	.item {
		display: flex;
		justify-content: center;
	}
	#category_help,
	#date_help,
	#currency_help,
	#value_help,
	#desc_help {
		// padding: 0px 1rem;
		// display: flex;
		// justify-content: flex-end;
		font-size: 1rem;
	}

	.form-item.date-picker {
		display: flex;
		justify-content: center;
		// width: 300px;
	}

	.item-label {
		font-size: 1.5rem;
		letter-spacing: 0.1rem;
		padding-bottom: 0.5rem;
		text-align: right;
	}

	.entry-header {
		// margin-top: 2rem;
		display: flex;
		padding: 0px 1rem;
		flex-direction: column;
		justify-content: center;
		align-items: baseline;

		* {
			margin-bottom: 0px;
		}
	}

	.prepopulated {
		// font-weight: bold;
		letter-spacing: 0.1rem;
		color: #00c28e;

		margin-bottom: 6px;
		padding-left: 1rem;
		border-left: 2px solid black;
		text-align: start;
		display: flex;
		justify-content: flex-end;
		text-align: right;
		line-height: 1.5rem;
		font-size: 1rem;
		text-transform: uppercase;
	}

	.form-item {
		width: 100%;
		padding: 0px 1rem;
	}
	.ant-form-item-control-input {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	// .ant-form-item-control-input-content {
	// 	display: flex;
	// 	justify-content: flex-end;
	// }

	.radio-group {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.radio-item {
		font-size: 2.2rem;
		width: 80px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		// background: red;
		// margin-right: 1rem;
		// margin-left: 6px;
	}

	.form-subBlock {
		margin: 1rem auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		// border-top: 3px solid #00c28e;
		// padding-top: 6px;

		.subheader {
			margin: 1rem 0;
			font-weight: bold;
			letter-spacing: 0.1rem;
			color: #00c28e;

			// margin-bottom: 0px;
			text-align: start;
			display: block;
			font-size: bold;
			text-transform: uppercase;
			display: flex;
			justify-content: flex-end;
		}

		//date picker
		.ant-picker {
			// width: 200px;
			width: 100%;
		}
	}
}

.send-btn-item {
	//= send-btn-item
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	color: #00c28e;
	border: 4px solid #00c28e;
	margin-bottom: 1rem;

	&:hover {
		background: #00c28e;
		border: none;
		color: white;
	}

	&:focus {
		background: #00c28e;
		border: none;
		color: white;
	}
}

.send-btn-item.secondary {
	//= send-btn-item
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	color: #00c28e;
	border: 4px solid #00c28e;
	margin-bottom: 1rem;

	&:hover {
		background: #00c28e;
		border: none;
		color: white;
	}

	&:focus {
		background: #00c28e;
		border: none;
		color: white;
	}
}

.select-ag-cell {
	display: flex;
	align-items: center;
}

.editor-btn-style {
	&:hover,
	&:focus {
		cursor: pointer;
	}
}
