.header-container {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0px 1.5rem;
	// background: red;
	background: #00c28e98;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;

	.avatar-group {
		//same class diff styling in diff components
		display: flex;
		align-items: center;
		margin-right: 2rem;
		width: 80px;
		justify-content: space-between;
	}

	.avatar-img {
		height: 40px;
		width: auto;
		object-fit: contain;
	}
	.titles {
		font-weight: bold;
		font-size: 0.8rem;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
	}

	.trip-name-container {
		font-weight: bold;
		font-size: 0.8rem;
		letter-spacing: 0.05rem;
		text-transform: uppercase;

		&:hover {
			cursor: pointer;
			color: blue;
		}

		&:focus {
			cursor: pointer;
			color: blue;
		}
	}

	.help-btn {
		position: relative;
		right: 2rem;
		margin-left: 2rem;
		font-size: 1.5rem;
		height: 3rem;
		background: transparent;
		border: none;

		&:hover {
			cursor: pointer;
			color: blue;
			border: none;
			background: transparent;
		}

		&:focus {
			cursor: pointer;
			color: blue;
			border: none;
			background: transparent;
		}
	}
}
