.header-container {
	width: 100%; //due to6position:fixed, it has no parent to ref, but 100vw actually exceeds all device widths
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0px 1.5rem;
	// background: red;
	background: #00c28ec3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;

	.avatar-group {
		//same class diff styling in diff components
		display: flex;
		align-items: center;
		margin-right: 2rem;
		width: 120px;
		// justify-content: space-between;
	}

	.avatar-img {
		height: 40px;
		margin-right: 0.5rem;
		width: auto;
		object-fit: contain;
	}
	.titles {
		font-weight: bold;
		font-size: 0.8rem;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
	}

	.trip-name-container {
		width: 200px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: bold;
		font-size: 0.8rem;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
		text-align: left;

		&:hover {
			cursor: pointer;
			color: blue;
		}

		&:focus {
			cursor: pointer;
			color: blue;
		}
	}

	.help-btn {
		position: relative;
		width: 2rem;
		color: white;
		padding: 0 2.5rem 0 0; //this is compensating temporarily for bad width
		display: flex;
		margin-left: 1rem;
		font-size: 1.5rem;
		height: 3rem;
		background: transparent;
		border: none;

		&:hover {
			cursor: pointer;
			color: blue;
			border: none;
			background: transparent;
		}

		&:focus {
			cursor: pointer;
			color: blue;
			border: none;
			background: transparent;
		}
	}
}
